type: "MARKDOWN_NOTE"
folder: "403e789cfa873c1c2c82"
title: "StringBuilder"
content: '''
  # StringBuilder
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-18T04:59:12.457Z"
updatedAt: "2017-08-18T04:59:19.899Z"
