type: "MARKDOWN_NOTE"
folder: "df7fbd4f413bd7e56cde"
title: "Top K Frequent Word"
content: '''
  # Top K Frequent Word
  Given a non-empty list of words, return the k most frequent elements.Your answer should be sorted by frequency from highest to lowest. If two words have the same frequency, then the word with the lower alphabetical order comes first.
  
  Input: `["i", "love", "leetcode", "i", "love", "coding"]`, k = `2`
  Output: `["i", "love"]`
  Explanation: `"i"` and `"love"` are the two most frequent words.
  Note that `"i"` comes before `"love"` due to a lower alphabetical order.
  
  Solution:
  - First use a `HashMap` to count the occurrence of each word
  - Then use a PriorityQueue which is of size k, traverse through each `<key value>` pairs in the `HashMap` and keep the top K frequent pair
  - The priorityQueue will be a `minHeap` in order to keep the top `k`, in the end we print the PriorityQueue in reverse order (frequency from high to low)
  
  时间 `O(n)` + `O(nlogk)`，where n = number of word in words, 空间 `O(n)` + `O(k)`
  最终复杂度：时间 `O(nlogk)`，空间 `O(n)`
  ```java
  class Solution {
      public List<String> topKFrequent(String[] words, int k) {
          List<String> result = new ArrayList<>();
          Map<String, Integer> map = new HashMap<>();
  		//统计每个 word 出现频率, O(n) 时间， O(n) 空间
          for(String word : words){
              if(!map.containsKey(word)){
                  map.put(word, 1);
              } else {
                  map.put(word, map.get(word) + 1);
              }
          }
  		
  		//PriorityQueue with Comparator
          PriorityQueue<Map.Entry<String, Integer>> pq = new PriorityQueue<>(k, new Comparator<Map.Entry<String, Integer>>(){
              public int compare(Map.Entry<String, Integer> a, Map.Entry<String, Integer> b){
  				//当 a 和 b 出现频率一样时，按 alphabet 倒序排列，因为最后 output 的时候是倒着出来
                  if(a.getValue() - b.getValue() == 0){
                      return b.getKey().compareTo(a.getKey());
                  } else {
                      return a.getValue() - b.getValue();
                  }
              }
          });
          
  		//使用 PrioryQueue 排序，每次加入时间为 O(logk)，总时间 O(nlogk)，空间 O(n)
          for(Map.Entry<String, Integer> entry : map.entrySet()){
              pq.add(entry);
              if(pq.size() > k){
                  pq.poll();
              }
          }
          
  		//注意最后 output 的时候因为是 minHeap，最后出来的是出现频率最大的，要放在前面
          while(!pq.isEmpty()){
              result.add(0, pq.poll().getKey());
          }
          return result;
      }
  }
  ```
  ### Top K Frequent Number / Element
  ```java
  class Solution {
      public List<Integer> topKFrequent(int[] nums, int k) {
          List<Integer> results = new ArrayList<>();
          if(nums == null || nums.length == 0){
              return results;
          }
          Map<Integer, Integer> map = new HashMap<>();
          for(int num : nums){
              if(!map.containsKey(num)){
                  map.put(num, 1);
              } else {
                  map.put(num, map.get(num) + 1);
              }
          }
          PriorityQueue<Map.Entry<Integer, Integer>> pq = new PriorityQueue<Map.Entry<Integer, Integer>>(
              (Map.Entry<Integer, Integer> a, Map.Entry<Integer, Integer> b) -> a.getValue() - b.getValue());
          for(Map.Entry<Integer, Integer> entry : map.entrySet()){
              pq.add(entry);
              if(pq.size() > k){
                  pq.poll();
              }
          }
          while(!pq.isEmpty()){
              results.add(0, pq.poll().getKey());
          }
          return results;
      }
  }
  ```
  ### 系统设计
  [System Design of Top K](http://zpjiang.me/2017/11/13/top-k-elementes-system-design/)
'''
tags: [
  "PocketGem"
  "PriorityQueue"
  "HashMap"
]
isStarred: false
isTrashed: false
createdAt: "2017-12-15T22:01:45.523Z"
updatedAt: "2018-01-11T22:14:17.659Z"
