createdAt: "2018-02-14T00:30:35.427Z"
updatedAt: "2018-02-21T04:40:18.280Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "Android Toolbar"
content: '''
  # Android Toolbar
  ```xml
  <android.support.v7.widget.Toolbar
          android:id="@+id/toolbar"
          android:layout_width="match_parent"
          android:layout_height="?attr/actionBarSize"
          android:background="?attr/colorPrimary"
          app:popupTheme="@style/AppTheme.PopupOverlay" />
  ```
  In `Activity.java`
  ```java
  @Override
      protected void onCreate(Bundle savedInstanceState) {
          super.onCreate(savedInstanceState);
          setContentView(R.layout.activity_detail);
  		
          Toolbar toolbar = (Toolbar) findViewById(R.id.toolbar);
          setSupportActionBar(toolbar);
          getSupportActionBar().setTitle(R.string.toolbar_title);
  		// Add Up Button
          getSupportActionBar().setDisplayHomeAsUpEnabled(true);
      }
  ```
  
  # Android ActionBar
  ```java
  import android.support.v4.app.NavUtils;
  import android.support.v7.app.ActionBar;
  
  public class SettingsActivity extends AppCompatActivity {
  
      @Override
      protected void onCreate(Bundle savedInstanceState) {
          super.onCreate(savedInstanceState);
          setContentView(R.layout.activity_settings);
  		
          ActionBar actionBar = this.getSupportActionBar();
          // Set the action bar back button to look like an up button
          if (actionBar != null) {
              actionBar.setDisplayHomeAsUpEnabled(true);
          }
      }
  
      @Override
      public boolean onOptionsItemSelected(MenuItem item) {
          int id = item.getItemId();
          // When the home button is pressed, take the user back to the parent activity
  		/**
  		* If the parent activity has launch mode <singleTop>,
  		* or the up intent contains FLAG_ACTIVITY_CLEAR_TOP,
  		* the parent activity is brought to the top of the stack
  		* and receives the intent through its onNewIntent() method.
  		* If the parent activity has launch mode <standard>, 
  		* and the up intent does not contain FLAG_ACTIVITY_CLEAR_TOP, 
  		* the parent activity is popped off the stack, 
  		* and a new instance of that activity is created on top of the stack to receive the intent.
  		*/
          if (id == android.R.id.home) {
              NavUtils.navigateUpFromSameTask(this);
          }
          return super.onOptionsItemSelected(item);
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
