type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Binary Tree Path Sum"
content: '''
  # Binary Tree Path Sum
  ```java
  public class Solution {
      /**
       * @param root the root of binary tree
       * @param target an integer
       * @return all valid paths
       */
      List<List<Integer>> results = new ArrayList<List<Integer>>();
      public List<List<Integer>> binaryTreePathSum(TreeNode root, int target) {
          // Write your code here
          if(root == null){
              return results;
          }
          List<Integer> path = new ArrayList<Integer>();
          path.add(root.val);
          helper(root, target - root.val, path);
          return results;
      }
      private void helper (TreeNode root,
                           int target,
                           List<Integer> path){
          if(root.left == null && root.right == null){
              if(target == 0){
                  results.add(new ArrayList<Integer>(path));
                  return;
              }
          }
          
          if(root.left != null){
              path.add(root.left.val);
              helper(root.left, target - root.left.val, path);
              path.remove(path.size() - 1);
          }
          
          if(root.right != null){
              path.add(root.right.val);
              helper(root.right, target - root.right.val, path);
              path.remove(path.size() - 1);
          }
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-08-31T21:35:18.710Z"
updatedAt: "2018-01-22T02:52:25.440Z"
