createdAt: "2018-02-07T01:03:49.014Z"
updatedAt: "2018-02-07T01:06:29.819Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "Permission"
content: '''
  # Permission
  While declaring a permission is required for using the camera, directly dialing the phone, and directly accessing the contact database - you can do each of these things by using a system app as an intermediator. Because the camera app, dialer, and contacts app will be used to provide the data you request - users have the chance to cancel the action you initiated, giving them runtime ability to refuse your app access.
  Your app can only access the user’s location if it explicitly declares a uses-permission.
  ```xml
  <!-- Add permission to internet in AndroidManifest.xml -->
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  ```
  # Error Associated with No permission
  java.lang.SecurityException: Permission denied (missing INTERNET permission?)
'''
tags: []
isStarred: false
isTrashed: false
