type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Sqrt I & II"
content: '''
  # Sqrt I & II
  ### Valid Perfect Square
  ```java
  class Solution {
      public boolean isPerfectSquare(int num) {
  		// 如果 num 过大，mid * mid 可能越界，注意用 long 兜住
          long start = 0;
          long end = num;
          while(start + 1 < end){
              long mid = start + (end - start) / 2;
              if(mid * mid < num){
                  start = mid;
              } else if (mid * mid == num){
                  end = mid;
              } else {
                  end = mid;
              }
          }
          if(start * start == num){
              return true;
          }
          if(end * end == num){
              return true;
          }
          return false;
      }
  }
  ```
  ### `int` 作为输入
  ```java
  class Solution {
      public int mySqrt(int x){
          long xx = x;
          return (int) mySqrt(xx);
      }
  	// overloading method
      public long mySqrt(long x) {
          long start = 0;
          long end = x;
          while(start + 1 < end){
              long mid = start + (end - start) / 2;
              if(mid * mid < x){
                  start = mid;
              } else if(mid * mid > x){
                  end = mid;
              } else {
                  return mid;
              }
          }
          if(start * start < x){
              return start;
          }
          return end;
      }
  }
  ```
  ### `double`作为输入
  Implement double sqrt(double x) and x >= 0.
  ```java
  public class Solution {
      /**
       * @param x a double
       * @return the square root of x
       */
      private double PRECISION = 1e-10;
      public double sqrt(double x) {
          // Write your code here
          double start = 0;
          double end = x;
          if (end < 1){
              end = 1;
          }
          while (start + PRECISION < end){
              double mid = start + (end - start) / 2;
              if (mid * mid == x){
                  end = mid;
              } else if (mid * mid < x){
                  start = mid;
              } else {
                  end = mid;
              }
          }
          //此时无论是 start 还是 end 与 target 的绝对值只差都 <= PRECISION
          return end;
      }
  }
  ```
  
'''
tags: [
  "Binary_Search"
]
isStarred: false
isTrashed: false
createdAt: "2017-11-02T18:32:10.403Z"
updatedAt: "2018-01-02T02:59:17.722Z"
