type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Merge two sorted arrays"
content: '''
  # Merge two sorted arrays
  ```java
      public int[] mergeSortedArray(int[] A, int[] B) {
          // Write your code here
          int[] temp = new int[A.length + B.length];
          int left = 0;
          int right = 0;
          int index = 0;
          while(left < A.length && right < B.length){
              if(A[left] < B[right]){
                  temp[index++] = A[left++];
              } else {
                  temp[index++] = B[right++];
              }
          }
          while(left < A.length){
              temp[index++] = A[left++];
          }
          while(right < B.length){
              temp[index++] = B[right++];
          }
          return temp;
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-05T18:31:28.464Z"
updatedAt: "2017-09-05T18:31:45.565Z"
