type: "SNIPPET_NOTE"
folder: "ca7b6b3755f93c46a5f8"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-08-01T03:21:50.913Z"
updatedAt: "2017-08-01T03:21:54.875Z"
