type: "MARKDOWN_NOTE"
folder: "6e2623e3aff765e4a79c"
title: "Welcome to Boostnote!"
content: '''
  # Welcome to Boostnote! 
  ### _Click to edit this note._
  
  ---
  
  Boostnote is an *open source* note-taking app. 
  Repository is published on [GitHub](https://github.com/BoostIO/Boostnote), and tweeting everyday on [@Boostnoteapp](https://twitter.com/boostnoteapp)!
  
  ## Features 
  - [x] No Internet and Registration Required. 
  - [ ] Quick search and copy the content of note. `macOS: Cmd + Alt + S / windows: Ctrl + Alt + S` 
  - [ ] Markdown & Snippet note. 
  - [x] Available for `vim` and `emacs` mode. 
  - [ ] Choose your favorite theme on UI, Editor and Code Block! 
  --- 
  
  - Copy Codeblock on Makrdown Preview.
  ```javascript
  var boostnote = document.getElementById('enjoy').innerHTML
  
  console.log(boostnote)
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-01T03:08:09.540Z"
updatedAt: "2017-08-01T03:46:41.699Z"
