type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Binary Tree Flipping"
content: '''
  # Binary Tree Flipping
  ```java
  /*        1                 1
           / \\               / 
          2   3             2 - 3
         / \\               /
        4   5             4 - 5
  
  */
  public class Solution {
      /*
       * @param root: the root of binary tree
       * @return: new root
       */
      TreeNode newRoot;
      public TreeNode upsideDownBinaryTree(TreeNode root) {
          // write your code here
          if(root == null){
              return null;
          }
          flip(root);
          return newRoot;
      }
      
      public void flip(TreeNode root){
          //递归到最左下角的点，作为新root返回
          if(root.left == null){
              newRoot = root;
              return;
          }
          flip(root.left);
          root.left.right = root;
          root.left.left = root.right;
          root.right = null;
          root.left = null;
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-09T18:19:00.092Z"
updatedAt: "2017-10-09T18:19:00.092Z"
