type: "SNIPPET_NOTE"
folder: "c7615b6dcc7b2832aa16"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-08-01T03:40:04.613Z"
updatedAt: "2017-08-01T03:40:12.754Z"
