type: "MARKDOWN_NOTE"
folder: "ca7b6b3755f93c46a5f8"
title: "HashTable"
content: '''
  # HashTable
  ---
  - `HashTable` is inherited from `Map` interface, similar to `HashMap`
  - `Hashtable` is synchronized, whereas `HashMap` is not. This makes `HashMap` better for non-threaded applications, as unsynchronized Objects typically perform better than synchronized ones. (The synchronized keyword is all about different threads reading and writing to the same variables, objects and resources.)
  - `Hashtable` does not allow null keys or values.  `HashMap` allows one null key and any number of null values.
  - One of `HashMap`'s subclasses is `LinkedHashMap`, so in the event that you'd want predictable iteration order (which is insertion order by default), you could easily swap out the `HashMap` for a `LinkedHashMap`. This wouldn't be as easy if you were using `Hashtable`.
  ---
  ### Why `31`?
  - `31 * num` 等价于`(num << 5) - num` (可以用移位和减法运算来代替乘法)
  - Primes are unique numbers. They are unique in that, the product of a prime with any other number has the best chance of being unique
  
  ### Get hashcode of a String
  - `char`[] `charArray`; 
  - `hashcode` = `charArray`[0] * 31<sup>`(n-1)`</sup> + `charArray`[1] * 31<sup>`(n-2)`</sup> + ... + `charArray`[n-1] * 31<sup>`0`</sup>
  ```java
  //loop through each char in String to add charValue to hashcode
  String str;
  int hashcode = 0;
  for (int i = 0; i < str.length(); i++) {
      hashcode = hashcode*31 + str.charAt(i);
  }
  return hashcode;
  
  //hashcode might getting too big for int type, 2 solutions in this case:
  long hashcode = 0; //Solution 1: use long type instead of int
  int HASH_SIZE = 1000000007;//Solution 2: set hash table size as a large prime number
  for(int i = 0; i < str.length(); i++){
      hashcode = (hashcode * 33 + (int)str.charAt(i)) % HASH_SIZE;//mod the large prime number base
  }
  return (int)hashcode;
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-02T02:12:33.653Z"
updatedAt: "2017-08-26T06:35:09.962Z"
