type: "MARKDOWN_NOTE"
folder: "ca7b6b3755f93c46a5f8"
title: "break is used to exit (escape) the for-loop, while-loop, switch-statement that you are currently executing."
content: '''
  break is used to exit (escape) the for-loop, while-loop, switch-statement that you are currently executing.
  return will exit the entire method you are currently executing (and possibly return a value to the caller, optional).
  
  
'''
tags: [
  "Java_Basics"
]
isStarred: false
isTrashed: true
createdAt: "2017-08-01T03:18:36.787Z"
updatedAt: "2017-08-01T03:23:50.760Z"
