type: "MARKDOWN_NOTE"
folder: "ca7b6b3755f93c46a5f8"
title: "Array"
content: '''
  # Array
  ### Initialize Array
  ```java
  //In java, you cannot use a variable that is NOT or MIGHT NOT be initialized
  int arraySize = 5; // int value has to be initialized when creating variable
  int[] intArray = new int[arraySize];//Array size has to be initialized when creating array
  ```
  ### Initialized Value
  - Everything in a valid Java program not explicitly set to something by the programmer, is initialized to a `0` value.
  - For `references` (anything that holds an `Object`) that is `null`.
  - For `int`/`short`/`byte`/`long` that is a `0`.
  - For `float`/`double` that is a `0.0`
  - For `booleans` that is a `false`.
  - For `char` that is the null character `'\\u0000'` (whose decimal equivalent is 0).
  ### Array length
  ```java
  //Array uses .length
  int[] intArray = new int[5];
  System.out.println(intArray.length); // 5
  
  //Object uses .length()
  String str = new String("12345");
  System.out.println(str.length()); // 5
  
  //Object Array still uses .length
  String[] strArray = new String[5];
  System.out.println(strArray.length); // 5
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-16T17:45:09.897Z"
updatedAt: "2017-08-18T04:44:34.752Z"
