type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Sequence Reconstruction"
content: '''
  # Sequence Reconstruction
  * 拓扑排序
  * `Map<Integer, Integer>` 放degree
  * `Map<Integer, Set<Integer>>` 放edges
  * 遍历seqs里的每一个数组，遍历该数组的每一个数，如果该数在前一个数的edges中不存在，把该数加进edges，其degree++
  * 将degree为0的数全部加进queue
  * 对该数的所有edges，degree--，减到0则加入queue；另外一旦这个数与org中对应位数的数不想等，直接return false
  * 最后判断拓扑排序产生的序列长度是否等于org中数的个数，不等则false
  ```java
  public class Solution {
      /*
       * @param org: a permutation of the integers from 1 to n
       * @param seqs: a list of sequences
       * @return: true if it can be reconstructed only one or false
       */
      public boolean sequenceReconstruction(int[] org, int[][] seqs) {
          // Write your code here
          Map<Integer, Set<Integer>> edges = new HashMap<Integer, Set<Integer>>();
          Map<Integer, Integer> indegree = new HashMap<Integer, Integer>();
  		
          for (int num : org) {
              edges.put(num, new HashSet<Integer>());
              indegree.put(num, 0);
          }
  
          int n = org.length;
          int count = 0;
          for (int[] seq : seqs) {
              count += seq.length;
              //Corner Case: org == [1], seqs = {[1], [1000000]}
              if (seq.length >= 1 && (seq[0] <= 0 || seq[0] > n))
                  return false;
              for (int i = 1; i < seq.length; i++) {
                  //Corner Case: org == [1], seqs = {[1], [1, 1000000]}
                  if (seq[i] <= 0 || seq[i] > n)
                      return false;
                  if (edges.get(seq[i - 1]).add(seq[i]))
                      indegree.put(seq[i], indegree.get(seq[i]) + 1);
              }
          }
  
          // Conner Case: org == [1], seqs = {[], []}
          if (count < n)
              return false;
  		
          Queue<Integer> queue = new LinkedList<Integer>();
          for (int key : indegree.keySet()) 
              if (indegree.get(key) == 0)
                  queue.add(key);
  		
          int cnt = 0;
          while (queue.size() == 1) {
              int head = queue.poll();
              for (int next : edges.get(head)) {
                  indegree.put(next, indegree.get(next) - 1);
                  if (indegree.get(next) == 0) queue.add(next);
              }
              //优化，可以不加
              //if (head != org[cnt]) {
                  //return false;
              //}
              cnt++;
          }
  		
          return cnt == org.length;
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-28T16:44:15.236Z"
updatedAt: "2017-09-28T16:44:34.898Z"
