createdAt: "2018-01-21T21:31:17.480Z"
updatedAt: "2018-01-21T21:32:57.504Z"
type: "MARKDOWN_NOTE"
folder: "df7fbd4f413bd7e56cde"
title: "Zigzag Conversion"
content: '''
  # Zigzag Conversion
  The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)
  
  	P   A   H   N
  	A P L S I I G
  	Y   I   R
  
  And then read line by line: `"PAHNAPLSIIGYIR"`
  
  Time: `O(n)`, Space: `O(n)`
  ```java
  class Solution {
      public String convert(String s, int numRows) {
          if(s == null || s.length() == 0){
              return "";
          }
          StringBuilder[] sb = new StringBuilder[numRows];
          for(int i = 0; i < numRows; i++){
              sb[i] = new StringBuilder();
          }
          int index = 0;
          while(index < s.length()){
              for(int i = 0; i < numRows; i++){
                  if(index >= s.length()) break;
                  sb[i].append(s.charAt(index++));
              }
              for(int i = numRows - 2; i >= 1; i--){
                  if(index >= s.length()) break;
                  sb[i].append(s.charAt(index++));
              }
          }
          for(int i = 1; i < numRows; i++){
              sb[0].append(sb[i]);
          }
          return sb[0].toString();
      }
  }
  ```
'''
tags: [
  "String"
]
isStarred: false
isTrashed: false
