createdAt: "2018-02-12T05:15:22.548Z"
updatedAt: "2018-04-11T16:12:30.894Z"
type: "MARKDOWN_NOTE"
folder: "4c3f3c1336de57a06ed3"
title: "UX vs UI"
content: '''
  # UX vs UI
  - UX: Visible and Non-Visible code
  - UI: Visible code
'''
tags: []
isStarred: false
isTrashed: false
