createdAt: "2018-02-12T05:15:22.548Z"
updatedAt: "2018-02-12T05:15:44.663Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "UX vs UI"
content: '''
  # UX vs UI
  - UX: Visible and Non-Visible code
  - UI: Visible code
'''
tags: []
isStarred: false
isTrashed: false
