type: "SNIPPET_NOTE"
folder: "6e2623e3aff765e4a79c"
title: "test"
description: "test"
snippets: [
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-11-29T04:11:19.969Z"
updatedAt: "2017-11-29T04:11:59.867Z"
