createdAt: "2018-02-07T22:06:10.585Z"
updatedAt: "2018-02-08T04:21:27.988Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "`json"
content: '''
  ```json
  \\"name\\":{\\"mainName\\":\\"Ham and cheese sandwich\\",\\"alsoKnownAs\\":[]},\\"placeOfOrigin\\":\\"\\",\\"description\\":\\"A ham and cheese
              sandwich is a common type of sandwich. It is made by putting cheese and sliced ham
              between two slices of bread. The bread is sometimes buttered and/or toasted. Vegetables
              like lettuce, tomato, onion or pickle slices can also be included. Various kinds of
              mustard and mayonnaise are also
              common.\\",\\"image\\":\\"https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Grilled_ham_and_cheese_014.JPG/800px-Grilled_ham_and_cheese_014.JPG\\",\\"ingredients\\":[\\"Sliced
              bread\\",\\"Cheese\\",\\"Ham\\"]
  			```
'''
tags: []
isStarred: false
isTrashed: true
