createdAt: "2018-01-02T01:26:07.098Z"
updatedAt: "2018-01-22T02:49:22.059Z"
type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Total Occurrence of Target"
content: '''
  # Total Occurrence of Target
  ```java
  public class Solution {
      /**
       * @param A an integer array sorted in ascending order
       * @param target an integer
       * @return an integer
       */
      public int totalOccurrence(int[] A, int target) {
          // Write your code here
          //ooooooTTTTxxxxxx
          //exception handling
          if (A.length == 0 || A == null){
              return 0;
          }
          int start = 0;
          int end = A.length - 1;
          int mid = 0;
          while(start + 1 < end){
              mid = start + (end - start) / 2;
              if(A[mid] == target){
                  end = mid;
              } else if(A[mid] < target){
                  start = mid;
              } else {
                  end = mid; // 保证不漏掉第一个出现的 target
              }
          }
          int index = 0;
          int count = 0;
          if(A[start] == target){
              index = start + 1;
              count++;
          } else if(A[end] == target){
              index = end + 1;
              count++;
          } else {
              return count;
          }
          while(index < A.length && A[index] == target){
              count++;
              index++;
          }
          return count;
      }
  }
  ```
'''
tags: [
  "Binary_Search"
]
isStarred: false
isTrashed: false
