createdAt: "2018-12-25T03:01:39.466Z"
updatedAt: "2018-12-25T03:01:43.203Z"
type: "SNIPPET_NOTE"
folder: "55ed01de50e3ebbd21f9"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
