createdAt: "2018-01-19T22:08:09.754Z"
updatedAt: "2018-01-22T04:08:15.582Z"
type: "MARKDOWN_NOTE"
folder: "df7fbd4f413bd7e56cde"
title: "Find Largest Value in each Tree Row"
content: '''
  # Find Largest Value in each Tree Row
  ```java
  class Solution {
      public List<Integer> largestValues(TreeNode root) {
          List<Integer> results = new ArrayList<>();
          if(root == null){
              return results;
          }
          Queue<TreeNode> queue = new LinkedList<>();
          queue.offer(root);
          while(!queue.isEmpty()){
              int size = queue.size();
              int max = Integer.MIN_VALUE;
              for(int i = 0; i < size; i++){
                  TreeNode head = queue.poll();
                  max = Math.max(max, head.val);
                  if(head.left != null){
                      queue.offer(head.left);
                  }
                  if(head.right != null){
                      queue.offer(head.right);
                  }
              }
              results.add(max);
          }
          return results;
      }
  }
  ```
'''
tags: [
  "Linkedin"
  "Binary_Tree"
  "BFS"
]
isStarred: false
isTrashed: false
