type: "MARKDOWN_NOTE"
folder: "df7fbd4f413bd7e56cde"
title: "Repeating DNA Sequence"
content: '''
  # Repeating DNA Sequence
  Given s = `"AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT"`,
  Return:
  `["AAAAACCCCC", "CCCCCAAAAA"]`.
  
  Summary: 
  Since I only need to look for SubStirng that is `10` char long, I will use a window of size 10, slide it from left to right of the DNA Sequence and store every SubString in a `HashMap`, once a Substring appeared at least twice in the `HashMap`, I will add it to the result List.
  Time: `O(n)`, Space: `O(n)`
  ```java
  class Solution {
      public List<String> findRepeatedDnaSequences(String s) {
          List<String> results = new ArrayList<String>();
          Map<String, Integer> map = new HashMap<String, Integer>();
          for(int i = 0; i + 10 <= s.length(); i++){
              String sub = s.substring(i, i + 10);
              if(!map.containsKey(sub)){
                  map.put(sub, 1);
              } else {
                  map.put(sub, map.get(sub) + 1);
                  if(map.get(sub) == 2){
                      results.add(sub);
                  }
              }
          }
          return results;
      }
  }
  ```
  优化做法：
  Before we use the `10-letter sequence` as the key of `HashMap`. Since the String only has `4` different char, we can potentially reduce the size of the key by converting the char in String into a binary number:
  
  - 0 = 00 (bits in binary number system) = ‘A’
  - 1 = 01 (bits in binary number system) = ‘T’
  - 2 = 10 (bits in binary number system) = ‘G’
  - 3 = 11 (bits in binary number system) = ‘C’
  
  `10` two bits binary number will take `20 bits`.
  
  A  T  G  C 
  00 01 10 11 
  00011011 (binary) = 16 + 8 + 2 + 1 = 27 (decimal)
  
  ```java
  class Solution {
      public List<String> findRepeatedDnaSequences(String s) {
          List<String> results = new ArrayList<>();
          if(s == null || s.length() == 0){
              return results;
          }
          Map<Integer, Integer> map = new HashMap<>();
          for(int i = 0; i + 10 <= s.length(); i++){
              String sub = s.substring(i, i + 10);
              int subHash = strHash(sub);
              if(!map.containsKey(subHash)){
                  map.put(subHash, 1);
              } else {
                  map.put(subHash, map.get(subHash) + 1);
                  if(map.get(subHash) == 2){
                      results.add(sub);
                  }
              }
          }
          return results;
      }
      
      public int strHash(String s){
          int[] map = new int[26];
          map['A' - 'A'] = 0;
          map['T' - 'A'] = 1;
          map['G' - 'A'] = 2;
          map['C' - 'A'] = 3;
          char[] sc = s.toCharArray();
          int num = 0;
          for(int i = 0; i < s.length(); i++){
              num <<= 2;
              num |= map[sc[i] - 'A'];
          }
          return num;
      }
  }
  ```
'''
tags: [
  "String"
  "Bit"
  "Hash"
  "Linkedin"
]
isStarred: false
isTrashed: false
createdAt: "2017-12-15T21:21:02.932Z"
updatedAt: "2018-01-18T23:24:15.624Z"
