type: "MARKDOWN_NOTE"
folder: "403e789cfa873c1c2c82"
title: "Iterate HashSet or HashMap"
content: '''
  # Iterate `HashSet` or `HashMap`
  ### Enhanced `for` loop
  Can be used to iterate `HashSet`
  ```java
  Set<String> set = new HashSet<String>();
  
  for (String s : set) {
      System.out.println(s);
  }
  ```
  ### `entrySet`
  NOTE: `entrySet` can only be used to iterate `HashMap`
  - Iterate `HashMap` with `entrySet` + enhanced `for` loop
  ```java
  HashMap<Integer, Boolean> map = new HashMap<Integer, Boolean>();
  int i = 0;
  //注意Entry开头大写！！！
  for (Map.Entry<Integer, Boolean> entry : map.entrySet()){
      nums[i] = entry.getKey();
      i++;
  }
  ```
  ### `Iterator`
  NOTE: `Iterator` can be used to iterate `HashMap` and `HashSet`
  NOTE: `Iterator.next()` returns the current value from the collection, `but at the same time`, `advances the iterator to the next element`.
  - Iterate `HashSet` with `Iterator`
  ```java
  // create an iterator
  Iterator iterator = hashset.iterator(); 
        
  // check values
  while (iterator.hasNext()){
     //NEED to Cast Since iterator is defined as generic!!!!!!
     int num = (int)iterator.next(); 
  }
  ```
  - Preferred way to define `Iterator`!
  ```java
  // create an iterator
  Iterator<Integer> iterator = hashset.iterator(); 
        
  // check values
  while (iterator.hasNext()){
     //NO need to Cast since iterator is defined as Integer type
     int num = iterator.next(); 
  }
  ```
  - Iterate `HashMap` with `Iterator` + `entrySet`
  ```java
  HashMap<Integer, String> hashmap = new HashMap<Integer, String>();
  // Getting a Set of Key-value pairs
  Set entrySet = hashmap.entrySet(); 
  // Obtaining an iterator for the entry set
  Iterator it = entrySet.iterator();
  // Iterate through HashMap entries(Key-Value pairs)
  while(it.hasNext()){
      Map.Entry<Integer, String> entry = (Map.Entry)it.next();
      System.out.println("Key is: "+ entry.getKey() 
      + " value is: "+ entry.getValue());
  }
  ```
  # Iterate a HashMap from `min` to `max`
  ```java
  //Method 1: Sort by Key 1
  //hash.keySet() has to be consecutive `int` sequence?
  //Collection.min() 接受 Collection
  for(int i = Collections.min(map.keySet()); i <= Collections.max(map.keySet()); i++){
      System.out.println(map.get(i));
  }
  
  //Method 2: Sort by Key 2
  List<K> keys = new LinkedList<K>(map.keySet()); //ArrayList 也可以
  Collections.sort(keys); //Collections.sort() 只接受List
  for(int key : keys){
      System.out.println(map.get(key));
  }
  
  //Method 3: Sort by Value
  List<Map.Entry<K,V>> entries = new LinkedList<Map.Entry<K,V>>(map.entrySet());
        
  Collections.sort(entries, new Comparator<Map.Entry<K,V>>() {
  
      @Override
      public int compare(Entry<K, V> a, Entry<K, V> b) {
          return a.getValue().compareTo(b.getValue());
      }
  });
  
  for(Map.Entry<K,V> entry: entries){
      System.out.println(entry.getValue());
  }
  ```
  # Iterate using `keySet()`
  ```java
  for(int key : map.keySet()){
      //code
      map.get(key);
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-26T22:54:35.262Z"
updatedAt: "2017-10-12T05:06:48.452Z"
