type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Reverse Linked List I & II"
content: '''
  # Reverse Linked List I & II
  ### Reverse Linked List I
  ```java
  public ListNode reverse(ListNode head) {
          // write your code here
          ListNode prev = null;
          while(head != null){
              ListNode temp = head.next;
              head.next = prev;
              prev = head;
              head = temp;
          }
          return prev;
  }
  ```
  ### Reverse Linked List II
  ```java
  public ListNode reverseBetween(ListNode head, int m, int n) {
          // write your code here
          ListNode dummy = new ListNode(0), curr = dummy;
          dummy.next = head;
          //preNode    mNode           nNode    postNode
          //    1   ->   2   ->  3   ->   4   ->    5   ->    null
          //            m=2              n=4
          //找到m(根据题目要求m是从1开始计算)
          for(int i = 1; i < m; i++){
              curr = curr.next;
          }
          ListNode preNode = curr;
          ListNode mNode = curr.next, nNode = mNode; 
          ListNode postNode = nNode.next;
          //for(int i = m; i < n; i++)
          for(int i = 1; i < n - m + 1; i++){
              ListNode temp = postNode.next;
              postNode.next = nNode;
              nNode = postNode;
              postNode = temp;
          }
          preNode.next = nNode;
          mNode.next = postNode;
          
          return dummy.next;
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-12T20:53:58.154Z"
updatedAt: "2017-12-09T20:04:59.472Z"
