type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Reverse Linked List II"
content: '''
  # Reverse Linked List II
  ```java
  public ListNode reverseBetween(ListNode head, int m, int n) {
          // write your code here
          ListNode dummy = new ListNode(0), curr = dummy;
          dummy.next = head;
          //preNode    mNode           nNode    postNode
          //    1   ->   2   ->  3   ->   4   ->    5   ->    null
          //            m=2              n=4
          //找到m
          for(int i = 1; i < m; i++){
              curr = curr.next;
          }
          ListNode preNode = curr;
          ListNode mNode = curr.next, nNode = mNode; 
          ListNode postNode = nNode.next;
          //for(int i = 0; i < n - m; i++)
          for(int i = m; i < n; i++){
              ListNode temp = postNode.next;
              postNode.next = nNode;
              nNode = postNode;
              postNode = temp;
          }
          preNode.next = nNode;
          mNode.next = postNode;
          
          return dummy.next;
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-12T20:53:58.154Z"
updatedAt: "2017-09-29T22:57:08.554Z"
