type: "MARKDOWN_NOTE"
folder: "c42c8fd92533ad636543"
title: "Java是传值还是传引用"
content: "[Java是传值还是传引用](https://www.zhihu.com/question/31203609)"
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-18T04:41:21.157Z"
updatedAt: "2017-12-18T04:41:39.594Z"
