createdAt: "2018-01-21T00:21:04.694Z"
updatedAt: "2018-01-23T18:20:51.619Z"
type: "MARKDOWN_NOTE"
folder: "df7fbd4f413bd7e56cde"
title: "Triangle Count / Valid Triangle Number"
content: '''
  # Triangle Count / Valid Triangle Number
  找出数组中满足 `a + b > c` 的 `{a, b, c}`有多少个
  - First sort the array
  - Then we fix number `c`，if we can find two number `a` and `b` on the left side of `c`, and the sum of these two numbers is greater than `c`, then we got `b - a` pairs of numbers which are valid, because `b` can form a valid pair with any number that is in between `b` and `a`
  - 为保证至少有两个比`c`小的数，`c`的起始`index`为`2`
  
  Time Complexity: `O(n^2)`
  Space Complexity: `O(nlogn)` for sorting the array
  ```java
  public class Solution {
      /*
       * @param S: A list of integers
       * @return: An integer
       */
      public int triangleCount(int[] S) {
          // write your code here
          if(S == null || S.length < 3){
              return 0;
          }
          Arrays.sort(S);
          int count = 0;
          for(int i = 2; i < S.length; i++){
              int left = 0;
              int right = i - 1;
              while(left < right){
                  if(S[left] + S[right] > S[i]){
                      count = count + right - left;
                      right--;
                  } else {
                      left++;
                  }
              }
          }
          return count;
      }
  }
  ```
'''
tags: [
  "Linkedin"
]
isStarred: false
isTrashed: false
