createdAt: "2018-02-15T05:08:07.047Z"
updatedAt: "2018-02-15T05:08:48.653Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "Customized ViewHolder"
content: '''
  # Customized ViewHolder
  ```java
  public class TodoListAdapter extends BaseAdapter {
  
      private Context context;
      private List<Todo> data;
  
      public TodoListAdapter(@NonNull Context context, List<Todo> data) {
          this.context = context;
          this.data = data;
      }
  
      @Override
      public int getCount() {
          return data.size();
      }
  
      @Override
      public Object getItem(int position) {
          return data.get(position);
      }
  
      @Override
      public long getItemId(int position) {
          return position;
      }
  
      @Override
      public View getView(int position, View convertView, ViewGroup parent) {
          ViewHolder vh;
          if (convertView == null) {
              convertView = LayoutInflater.from(context).inflate(R.layout.main_list_item, parent, false);
  
              vh = new ViewHolder();
              // 保证对于每个 convertView, 只需执行一次 findViewById
              vh.todoText = (TextView) convertView.findViewById(R.id.main_list_item_text);
              // cache the view holder
              convertView.setTag(vh);
          } else {
              // convertView is not null, which means it contains a cached view holder
              vh = (ViewHolder) convertView.getTag();
          }
  
          Todo todo = data.get(position);
          vh.todoText.setText(todo.text);
          return convertView;
      }
  
      private static class ViewHolder {
          TextView todoText;
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
