type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Validate BST"
content: '''
  # Validate BST
  ```java
  class ResultType {
      boolean isBST;
      int max, min;
      
      ResultType(boolean isBST, int max, int min) {
          this.isBST = isBST;
          this.max = max;
          this.min = min;
      }
  }
  
  public class Solution {
      /**
       * @param root: The root of binary tree.
       * @return: True if the binary tree is BST, or false
       */
      public boolean isValidBST(TreeNode root) {
          ResultType result = helper(root);
          return result.isBST;
      }
      
      private ResultType helper(TreeNode root) {
          if (root == null) {
              return new ResultType(true, Integer.MIN_VALUE, Integer.MAX_VALUE);
          }
          
          ResultType left = helper(root.left);
          ResultType right = helper(root.right);
          
          boolean isBST = true;
          if (!left.isBST || !right.isBST) {
              isBST = false;
          }
          //注意必须保证left和right不是null，不然left.max就是Integer.MIN_VALUE
          //如果root也是Integer.MIN_VALUE且没有child，通不过
          if (root.left != null && left.max >= root.val || 
              root.right != null && right.min <= root.val) {
              isBST = false;
          }
          
          return new ResultType(isBST,
                                Math.max(root.val, right.max),
                                Math.min(root.val, left.min));
      }
  }
  
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-25T20:31:17.510Z"
updatedAt: "2017-09-25T20:33:48.292Z"
