type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Validate BST"
content: '''
  # Validate BST
  ```java
  class ResultType {
      boolean isBST;
      int max, min;
      
      ResultType(boolean isBST, int max, int min) {
          this.isBST = isBST;
          this.max = max;
          this.min = min;
      }
  }
  
  public class Solution {
      /**
       * @param root: The root of binary tree.
       * @return: True if the binary tree is BST, or false
       */
      public boolean isValidBST(TreeNode root) {
          if(root == null){
              return true;
          }
          return helper(root).isBST;
      }
      
      private ResultType helper(TreeNode root) {
          if (root == null) {
              return null;
          }
          
          ResultType left = helper(root.left);
          ResultType right = helper(root.right);
          
          int min = root.val;
          int max = root.val;
          boolean isBST = true;
          if(left != null){
              min = Math.min(min, left.min);
              if(!left.isBST || root.val <= left.max){
                  isBST = false;
              }
          }
          if(right != null){
              max = Math.max(max, right.max);
              if(!right.isBST || root.val >= right.min){
                  isBST = false;
              }
          }
          
          return new ResultType(isBST, max, min);
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-25T20:31:17.510Z"
updatedAt: "2017-12-13T08:52:11.471Z"
