createdAt: "2018-02-10T03:48:24.422Z"
updatedAt: "2018-02-10T04:36:02.808Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "Toast"
content: '''
  # Toast
  ```java
  	private Toast mToast;
  	@Override
      public void onListItemClick(int clickedItemIndex) {
          // In the beginning of the method, cancel the Toast if it isn't null
          // Otherwise toasts are queued, there will be delay on each click
          if(mToast != null){
              mToast.cancel();
          }
          String toastMessage = "Item #" + clickedItemIndex + "clicked.";
          mToast = Toast.makeText(this, toastMessage, Toast.LENGTH_LONG);
          mToast.show();
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
