createdAt: "2018-02-12T04:12:49.111Z"
updatedAt: "2018-02-12T04:13:01.057Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "ArrayAdapterfaf"
content: '''
  # ArrayAdapterfaf
  
'''
tags: []
isStarred: false
isTrashed: true
