type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "3Sum & 4Sum"
content: '''
  # 3Sum & 4Sum
  ### 3Sum
  找到 num1 + num2 + num3 = 0，返回所有可能的组合
  
  Solution:
  - 数组排序 -> 枚举第一个数 -> 在第一个数往后的`subArray`中用`Two sum`找第二和第三个数
  - 注意去重
  
  Time: `O(n^2)`
  ```java
  public class Solution {
      /*
       * @param numbers: Give an array numbers of n integer
       * @return: Find all unique triplets in the array which gives the sum of zero.
       */
      public List<List<Integer>> threeSum(int[] numbers) {
          // write your code here
          List<List<Integer>> results = new ArrayList<List<Integer>>();
          if(numbers == null || numbers.length < 3){
              return results;
          }
          Arrays.sort(numbers);
          int target = 0;
          int left = 0;
          int right = 0;
          //优化：最后两个数不用看(循环到numbers.length - 2即可)
          for(int i = 0; i < numbers.length - 2 ; i++){
              //第一个数去重
              if(i > 0 && numbers[i] == numbers[i - 1]){
                  continue;
              }
              target = -numbers[i];
              left = i + 1;
              right = numbers.length - 1;
              helper(results, left, right, target, numbers);
          }
          return results;
      }
      private void helper(List<List<Integer>> results,
                          int left,
                          int right,
                          int target,
                          int[] numbers){
          while(left < right){
              if(numbers[left] + numbers[right] < target){
                  left++;
              } else if (numbers[left] + numbers[right] > target){
                  right--;
              } else {
                  //Deep Copy
                  ArrayList<Integer> result = new ArrayList<Integer>();
                  result.add(-target);   // -target = 第一个数，三个数中最小的
                  result.add(numbers[left]);
                  result.add(numbers[right]);
                  results.add(result);
                  left++;
                  right--;
                  //第二个数去重
                  while(left < right && numbers[left] == numbers[left - 1]){
                      left++;
                  }
                  //第三个数去重
                  while(left < right && numbers[right] == numbers[right + 1]){
                      right--;
                  }
              }
          }
      }
  }
  ```
  ### 3Sum Closest
  ```java
  public class Solution {
      /*
       * @param numbers: Give an array numbers of n integer
       * @param target: An integer
       * @return: return the sum of the three integers, the sum closest target.
       */
      int min = Integer.MAX_VALUE;
      int sum = 0;
      public int threeSumClosest(int[] numbers, int target) {
          // write your code here
          Arrays.sort(numbers);
          for(int i = 0; i < numbers.length; i++){
              int complement = target - numbers[i];
              int left = i + 1;
              int right = numbers.length - 1;
              helper(numbers, left, right, complement, numbers[i]);
          }
          return sum;
      }
      
      public void helper(int[] numbers, int left, int right, int complement, int num){
          while(left < right){
              int dif = numbers[left] + numbers[right] - complement;
              if(Math.abs(dif) < min){
                  min = Math.abs(dif);
                  sum = numbers[left] + numbers[right] + num;
              }
              if(dif < 0){
                  left++;
              } else{
                  right--;
              }
          }
      }
  }
  ```
  ### 3Sum Smaller
  找到 `nums[i] + nums[j] + nums[k] < target`
  ```java
  class Solution {
      int count = 0;
      public int threeSumSmaller(int[] nums, int target) {
          if(nums == null || nums.length < 3){
              return count;
          }
          Arrays.sort(nums);
          for(int i = 0; i < nums.length; i++){
              int left = i + 1;
              int right = nums.length - 1;
              int complement = target - nums[i];
              helper(nums, left, right, complement);
          }
          return count;
      }
      
      public void helper(int[] nums, int left, int right, int complement){
          while(left < right){
              int dif = nums[left] + nums[right] - complement;
              if(dif < 0){
                  count += right - left;
                  left++;
              } else {
                  right--;
              }
          }
      }
  }
  ```
  ### 4Sum
  以下 code 当题目要求解中的四个数不能有任何重复时可以通过
  ```java
  public class Solution {
      /*
       * @param numbers: Give an array
       * @param target: An integer
       * @return: Find all unique quadruplets in the array which gives the sum of zero
       */
      public List<List<Integer>> fourSum(int[] numbers, int target) {
          // write your code here
          List<List<Integer>> results = new ArrayList<List<Integer>>();
          if(numbers == null || numbers.length < 4){
              return results;
          }
          Arrays.sort(numbers);
          for(int i = 0; i < numbers.length; i++){
              //第一个数去重
              if(i > 0 && numbers[i] == numbers[i - 1]){
                  continue;
              }
              for(int j = i + 1; j < numbers.length; j++){
                  //第二个数去重
                  if(j > i + 1 && numbers[j] == numbers[j - 1]){
                      continue;
                  }
                  int complement = target - numbers[i] - numbers[j];
                  int left = j + 1;
                  int right = numbers.length - 1;
                  helper(results, numbers, left, right, complement, i, j);
              }
          }
          return results;
      }
      private void helper (List<List<Integer>> results,
                           int[] numbers,
                           int left,
                           int right,
                           int target,
                           int i,
                           int j){
          while(left < right) {
              if(numbers[left] + numbers[right] > target){
                  right--;
              } else if (numbers[left] + numbers[right] < target){
                  left++;
              } else {
                  List<Integer> solution = new ArrayList<Integer>();
                  solution.add(numbers[i]);
                  solution.add(numbers[j]);
                  solution.add(numbers[left]);
                  solution.add(numbers[right]);
                  results.add(solution);
                  left++;
                  right--;
                  //第三个数去重
                  while(left < right && numbers[left] == numbers[left - 1]){
                      left++;
                  }
                  //第四个数去重
                  while(left < right && numbers[right] == numbers[right + 1]){
                      right--;
                  }
              }
          }
      }
  }
  ```
  以下 code 当题目要求不能有重复解，但每个解中可以有重复数时可以通过，使用`HashSet`去重
  For every valid quadraplets, we convert it to a String, which serves as the key of HashSet. Whenever we found the same key, we discard that answer.
  ```java
  class Solution {
      Set<String> set = new HashSet<>();
      public List<List<Integer>> fourSum(int[] nums, int target) {
          List<List<Integer>> results = new ArrayList<List<Integer>>();
          Arrays.sort(nums);
          for(int i = 0; i < nums.length; i++){
              for(int j = i + 1; j < nums.length; j++){
                  int complement = target - nums[i] - nums[j];
                  int left = j + 1;
                  int right = nums.length - 1;
                  helper(results, nums, left, right, complement, i , j);
              }
          }
          return results;
      }
      
      public void helper(List<List<Integer>> results,
                         int[] nums,
                         int left,
                         int right,
                         int complement,
                         int i,
                         int j){
          while(left < right){
              if(nums[left] + nums[right] < complement){
                  left++;
              } else if(nums[left] + nums[right] > complement){
                  right--;
              } else {
                  StringBuilder sb = new StringBuilder();
                  sb.append(nums[i]).append(nums[j]).append(nums[left]).append(nums[right]); 
                  String s = sb.toString();
                  if(!set.contains(s)){
                      set.add(s);
                      List<Integer> list = new ArrayList<Integer>();
                      list.add(nums[i]);
                      list.add(nums[j]);
                      list.add(nums[left]);
                      list.add(nums[right]);
                      results.add(list);
                  }
                  left++;
                  right--;
              }
          }
      }
  }
  ```
'''
tags: [
  "Linkedin"
  "Two_Pointer"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-08T19:24:18.564Z"
updatedAt: "2018-01-23T04:49:05.791Z"
