type: "SNIPPET_NOTE"
folder: "8d19d56ee029f3fa592b"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-25T20:30:20.402Z"
updatedAt: "2017-09-25T20:30:31.685Z"
