createdAt: "2018-02-21T03:11:06.966Z"
updatedAt: "2018-02-21T03:12:34.345Z"
type: "MARKDOWN_NOTE"
folder: "826d661fa478dc56691c"
title: "Android Data Persistence"
content: '''
  # Android Data Persistence
  ### onSaveInstanceState
  
'''
tags: []
isStarred: false
isTrashed: true
