type: "MARKDOWN_NOTE"
folder: "0ef4dc321cdc22cb8b00"
title: "LinkedList相关小算法"
content: '''
  # LinkedList相关小算法
  
  ### Reverse Linked List
  - 用一个`prev`不断记录`head`的前一个
  - 用一个`temp`不断记录`head.next`
  ```java
  public ListNode reverse(ListNode head) {
          // write your code here
          if(head == null){
              return head;
          }
          ListNode prev = null;
          while(head != null){
              ListNode temp = head.next;
              head.next = prev;
              prev = head;
              head = temp;
          }
          return prev;
  }
  ```
  
  ### 找中点
  ```java
  private ListNode findMiddle(ListNode head) {
          ListNode slow = head, fast = head.next;
          while (fast != null && fast.next != null) {
              fast = fast.next.next;
              slow = slow.next;
          }
          return slow;
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-09T15:53:49.558Z"
updatedAt: "2017-09-09T16:54:02.314Z"
