type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Factorization"
content: '''
  # Factorization
  ```java
  public class Solution {
      /*
       * @param n: An integer
       * @return: a list of combination
       */
      public List<List<Integer>> getFactors(int n) {
          // write your code here
          List<List<Integer>> results = new ArrayList<List<Integer>>();
          if(n == 1){
              return results; // when n = 1, expected return = [ ], not [ [ ] ]
          }
          dfs(results, new ArrayList<Integer>(), 2, n);
          return results;
      }
      
      public void dfs(List<List<Integer>> results, 
                      List<Integer> solution, 
                      int start,
                      int remain){
          if(remain == 1){
              if(solution.size() != 1){
                  results.add(new ArrayList<Integer>(solution));
              }
              return;
          }
          
          for(int i = start; i < remain; i++){
              // i * i > remain 则 break 
              //(从此往后每个 start 都 > remain，没有继续循环的必要了)
              if(i > remain / i){
                  break;
              }
              if(remain % i == 0){
                  solution.add(i);
                  dfs(results, solution, i, remain / i);
                  solution.remove(solution.size() - 1);
              }
          }
          //当 i == remain, remain / i == 1
          solution.add(remain);
          dfs(results, solution, remain, 1);
          solution.remove(solution.size() - 1);
      }
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-09T18:19:05.939Z"
updatedAt: "2017-11-07T00:04:01.031Z"
