type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "Subtree with Maximum Average"
content: '''
  # Subtree with Maximum Average
  ```java
  class ReturnType{
      int num;
      int sum;
      TreeNode node;
      ReturnType(int num, int sum, TreeNode node){
          this.num = num;
          this.sum = sum;
          this.node = node;
      }
  }
  
  public class Solution {
      /*
       * @param root: the root of binary tree
       * @return: the root of the maximum average of subtree
       */
      ReturnType max = new ReturnType(0, 0, null);
      public TreeNode findSubtree2(TreeNode root) {
          // write your code here
          if(root == null){
              return root;
          }
          helper(root);
          return max.node;
      }
      
      public ReturnType helper(TreeNode root){
          if(root == null){
  			//这里(num, sum)必须是(0, 0),因为这样left node的(num, sum)为(1, root.val)
              return new ReturnType(0, 0, null); 
          }
          ReturnType left = helper(root.left);
          ReturnType right = helper(root.right);
          int num = left.num + right.num + 1;
          int sum = left.sum + right.sum + root.val;
          //别忘记max未初始化的情况
          if(max.node == null || sum * max.num > max.sum * num){
              max.sum = sum;
              max.num = num;
              max.node = root;
          }
          return new ReturnType(num, sum, root);
      }
  }
  ```
'''
tags: [
  "Binary_Tree"
]
isStarred: false
isTrashed: false
createdAt: "2017-08-31T15:42:07.287Z"
updatedAt: "2018-01-23T02:15:58.259Z"
