type: "MARKDOWN_NOTE"
folder: "8d19d56ee029f3fa592b"
title: "String Homomorphism"
content: '''
  # String Homomorphism
  Given s = `"egg"`, t = `"add"`, return `true`.
  Given s = `"foo"`, t = `"bar"`, return `false`.
  Given s = `"paper"`, t = `"title"`, return `true`.
  (You may assume both `s` and `t` have the same length)
  ```java
  public boolean isIsomorphic(String s, String t) {
          // write your code here
          int[] map = new int[256];
          char[] sc = s.toCharArray();
          char[] tc = t.toCharArray();
          for(int i = 0; i < s.length(); i++){
              if(map[sc[i]] == 0){
                  map[sc[i]] = tc[i];
              } else {
                  if(map[sc[i]] != tc[i]){
                      return false;
                  }
              }
          }
          //必须正反各扫一遍，不然 foo -> bar 能过，bar -> foo 过不了
          int[] map2 = new int[256];
          for(int i = 0; i < t.length(); i++){
              if(map2[tc[i]] == 0){
                  map2[tc[i]] = sc[i];
              } else {
                  if(map2[tc[i]] != sc[i]){
                      return false;
                  }
              }
          }
          
          return true;
      }
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-02T18:45:39.080Z"
updatedAt: "2017-10-02T18:49:58.660Z"
